<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>375613420670-h8hds5dbsr27877r8osns4j8p2bmlvfh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.375613420670-h8hds5dbsr27877r8osns4j8p2bmlvfh</string>
	<key>API_KEY</key>
	<string>AIzaSyDM7rI9Wd6o7JtAut9I81Ei0UVdSjrIYa0</string>
	<key>GCM_SENDER_ID</key>
	<string>375613420670</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>testCompany.GitLit</string>
	<key>PROJECT_ID</key>
	<string>gitlit-66112</string>
	<key>STORAGE_BUCKET</key>
	<string>gitlit-66112.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:375613420670:ios:26e735f717d8b30fa2542f</string>
</dict>
</plist>